<div class="text-center mt-12 mx-24 px-80">
  <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700">
    Todo List
  </h3>

  <div class="mx-10 md:mx-0">
    <!-- Small Input -->
    <div class="mb-3 flex">
      <input [(ngModel)]="newTodo" type="text" placeholder="Enter your to-do task here" class="flex-1 px-2 py-1 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline hover:bg-blue-300"/>
      <button (click)="saveTodo()" class="ml-2 w-32 md:w-auto bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
        Add Todo
      </button>
    </div>

    <div class="mt-10 py-10 border-t border-blueGray-200">
      <table class="table-auto w-full">
        <tbody>
          <tr *ngFor="let todo of todos; let i = index" class="border-b border-blueGray-200">
            <td class="px-4 py-2 flex items-center">
              <input type="checkbox" class="mr-2" [checked]="!todo.isCompleted" (change)="done(i)"/>
              <div class="flex-1 cursor-pointer text-left {{(!todo.isCompleted) ? 'line-through text-gray-500' : 'text-blueGray-800'}}" (click)="done(i)">
                {{todo.name}}
              </div>
              <div class="text-red-500 font-bold cursor-pointer" (click)="remove(i)">
                Delete
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
